<html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<head>
		{% block head %}
		<link rel="stylesheet" href="style.css" />
		<title>{% block title %}{% endblock %} - My Webpage</title>
		{% endblock %}
	</head>
  <body>
  
<script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script>

  
    <div><a href="/index">Home</a></div>
    <hr>
    {% block content %}{% endblock %}
    <p class = "source_code_statement">WSU Pond And Lake Primary Production Calculator. Source code can be found <a href = "https://github.com/EggsWithCheese/WSU-PAL-PPC">here.</a></p>

	<input type="button" value="Toggle Pond Picture" onclick="toggle_visibility('pond_picture');"/>		
	<p></p>
    <img id="pond_picture" src="{{ url_for('static', filename = 'pond.JPG') }}" alt="WSU pond" style="width:1024;height:768;display:none;">
    <!--<p>WSU Nutter Center Pond</p>-->
  </body>
</html>