<html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<head>
		{% block head %}
		<link rel="stylesheet" href="style.css" />
		<title>{% block title %}{% endblock %} - My Webpage</title>
		{% endblock %}
	</head>
  <body>
    <div><a href="/index">Home</a></div>
    <hr>
    {% block content %}{% endblock %}
    <p class = "source_code_statement">WSU Pond And Lake Primary Production Calculator. Source code can be found <a href = "https://github.com/EggsWithCheese/WSU-PAL-PPC">here.</a></p>

    <img src="{{ url_for('static', filename = 'pond.JPG') }}" alt="WSU pond" style="width:1024;height:768;">
    <!--<p>WSU Nutter Center Pond</p>-->
  </body>
</html>