{% extends "base.html" %}

{% block head %}
    <title>Primary Production</title>
{% endblock %}
{% block content %}

    <h1>Primary Production from user data</h1>

    <p>Primary Production Values: </p>
    {#http://jinja.pocoo.org/docs/dev/templates/#list-of-control-structures#}
    {#http://blog.bouni.de/blog/2013/04/24/call-functions-out-of-jinjs2-templates/#}
    <ul>
    {% for pond in ponds() %}
        <li>
        Year: {{ pond.get_year() |e }},
		Day of Year: {{ pond.get_day_of_year() |e }},
		Lake ID:{{ pond.get_lake_id() |e }}, 
		<ul>
			<li>
				BPPR:{{'%0.1f' % pond.calculate_daily_whole_lake_benthic_primary_production_m2() |float}} (mg C/m^2 littoral area/day)
			</li>
			<li>
				PPPR:{{'%0.1f' % pond.calculate_daily_whole_lake_phytoplankton_primary_production_m2()|float }} (mg C/m^2 surface area/day)
				<ul>
				{% for layer in pond.get_thermal_layer_depths() %}
					<li> Thermal Layer {{loop.index}} <input type="button" value="hourly graph:" onclick="toggle_visibility('{{pond.get_key()}}{{loop.index}}');"/>
					<img id="{{pond.get_key()}}{{loop.index}}" src="{{ url_for('hourly_ppr_in_layer_graph', pond_key=pond.get_key(), layer_index=loop.index0) |e }}" alt="WSU pond" style="width:256;height:192;display:none;">
				{% endfor %}
				</ul>
			</li>			
		</ul>
		</li>
    {% endfor %}
    </ul>


    <a href={{( url_for("export_view",filename=request.args.get('filename'))) }}>Click here to download</a>




{% endblock %}