{% extends "base.html" %}

{% block head %}
    <title>Primary Production</title>
{% endblock %}
{% block content %}

    <h1>Primary Production from user data</h1>

    <p>Primary Production Values: </p>
    {#http://jinja.pocoo.org/docs/dev/templates/#list-of-control-structures#}
    <ul>
    {% for i in range (0, session['number_of_ponds']) %}
        <li>
        Year: {{ '%d' % session['pond_year_list'][i]  }},
		Day of Year: {{ session['pond_day_list'][i] |e }},
		Lake ID:{{ session['pond_id_list'][i] |e }}, 
		<ul>
			<li>
				BPPR:{{'%0.1f' % session['pond_bppr_list'][i]|float }} (mg C/m^2 littoral area/day)
			</li>
			<li>
				PPPR:{{'%0.1f' % session['pond_pppr_list'][i]|float }} (mg C/m^2 surface area/day)
			</li>
		</ul>
		</li>
    {% endfor %}
    </ul>


    <a href={{( url_for("export_view",filename=request.args.get('filename'))) }}>Click here to download</a>






{% endblock %}